# build output
build
static
.svelte-kit
.netlify
.vercel

# dependencies
node_modules

# env
*.local

# logs
pnpm-debug.log*

# macOS-specific files
.DS_Store

# temp file
src/routes/**/+page.svelte.md
src/routes/**/+page.md
*.config.js
urara.js

# Things to hide
src/styles/css-pokemon-gameboy.css
src/styles/css-pokemon-gameboy.css.map
src/styles/github.css
src/styles/github.css.map
src/styles/poke-gb.css 
src/styles/fonts
generateClasses.js
