[build]
command = "pnpm rebuild sharp && pnpm run build"
publish = "build"

[build.environment]
NODE_VERSION = "20"
SHARP_IGNORE_GLOBAL_LIBVIPS = "1"
AWS_LAMBDA_JS_RUNTIME = "nodejs20.x"

[functions]
node_bundler = "esbuild"
included_files = ["node_modules/sharp/**/*"]
